.window {
    width: 800px;
    text-align: center;
    height: 500px;
    display: inline-block
}

.editor {
    height: 70%;
    width: auto;
    padding: 5%;
    background-color: #191818;
    color: whitesmoke;
}

.body {
    background-color: #3C3C3C;
    color: whitesmoke;
    height: 350px;
    width: 100%;
    outline: none;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}

.optionsCoder {
    height: auto;
    width: auto;
    background-color: #c2e0ff;
    display: flex;
    justify-content: space-around;
}

.code {
    text-align: left;
}
