.window {
    width: 800px;
    text-align: center;
    height: 500px;
    display: inline-block
}

.input {
    height: 15%;
    width: auto;
    padding: 1%;
    background-color: grey;
    color: whitesmoke;
}

.output {
    height: 15%;
    width: auto;
    padding: 1%;
    background-color: grey;
    color: whitesmoke;
}

.result {
    height: 15%;
    width: auto;
    padding: 1%;
    background-color: grey;
    color: whitesmoke;
}

.options {
    height: 15%;
    width: auto;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}